@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 261 44% 58%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 261 44% 58%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  /* Custom Day Picker Styles */
  .rdp {
    --rdp-cell-size: 40px;
    --rdp-accent-color: hsl(var(--primary));
    --rdp-background-color: hsl(var(--accent));
    
    --rdp-accent-color-dark: hsl(var(--primary));
    --rdp-background-color-dark: hsl(var(--accent));
    
    --rdp-outline: 2px solid hsl(var(--ring));
    --rdp-outline-selected: 3px solid hsl(var(--primary));
    
    margin: 1em 0;
  }
  .rdp-caption_label {
    font-weight: 500;
  }
  .rdp-head_cell {
    font-size: 0.8em;
    font-weight: 500;
    color: hsl(var(--muted-foreground));
  }
  .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: hsl(var(--accent));
  }
  .rdp-day_today {
    font-weight: bold;
    color: hsl(var(--accent));
  }
  .rdp-day_selected, .rdp-day_selected:hover {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    font-weight: 500;
  }
}
